<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>جدیدترین آمار از کرونا</title>

    <!-- My CSS -->
    <link rel="stylesheet" href="statics/style.css">
    <link rel="stylesheet" href="statics/slider-style.css">

</head>
<body>
    
    <!-- Site Title -->
    <p id="site-desc">
        <img class="live-logo" src="statics/img/live.png" alt="">
        آمار لحظه ای از کرونا ویروس
    </p>

    <!-- Site Logo -->
    <img class="logo" src="statics/img/logo.png" alt="">

    <!-- Slider -->
    <div id="slider">
		<input type="radio" name="slider" id="slide1" checked>
		<input type="radio" name="slider" id="slide2">
		<input type="radio" name="slider" id="slide3">
		<input type="radio" name="slider" id="slide4">
		<div id="slides">
			<div id="overflow">
				<div class="inner">
					<div class="slide slide_1">
						<div class="slide-content">
							<img src="statics/img/corona2.jpg" style="width: 50%; height: 50%; border-radius: 10px;" alt="">
						</div>
					</div>
					
					<div class="slide slide_2">
						<div class="slide-content">
							<h2><p class="p-cases">مبتلایان تا امروز</p></h2>
							<p id="cases">{{ Coronavirus_Cases }}</p>
						</div>
					</div>
					
					<div class="slide slide_3">
						<div class="slide-content">
							<h2><p class="p-cases">فوت شدگان</p></h2>
							<p id="death">{{ Death }}</p>
						</div>
					</div>

					<div class="slide slide_4">
						<div class="slide-content">
							<h2><p class="p-cases">بهبود یافتگان</p></h2>
							<p id="recover">{{ Recovered }}</p>
						</div>
					</div>
					
				</div>
			</div>
		</div>

		<div id="controls">
		<label for="slide1"></label>
		<label for="slide2"></label>
		<label for="slide3"></label>
		<label for="slide4"></label>
		</div>
		
		<div id="bullets">
		<label for="slide1"></label>
		<label for="slide2"></label>
		<label for="slide3"></label>
		<label for="slide4"></label>
		</div>
	</div> 
    <!-- End Slider -->

    <!-- Plot -->
    <img class="plot" src="{{ Plot_Src }}" alt="">
    <p class="plot-title">جدیدترین آمار مبتلایان ده کشور درگیر با کرونا ویروس</p>

    <!-- Info Table -->
    <table class="corona-info">
        <tr class="title">
            <th>#</th>
            <th>کشورها</th>
            <th>مبتلایان</th>
            <th>مبتلایان جدید</th>
            <th>فوت شدگان</th>
            <th>فوتی های جدید</th>
            <th>بهبود یافتگان</th>
            <th>مبتلایان اکنون</th>
            <th>افراد در قرنطینه</th>
            <th>نرخ ابتلا در یک میلیون نفر</th>
        </tr>

		{% for i in range(Country | length) %}
        <tr>
            <th>{{ i+1 }}</th>
            <th style="color: #ffc6b3;">{{ Country[i] }}</th>
			<th>{{ TotalCases[i] }}</th>
			{% if NewCases[i] == ' ' %}
				<th>{{ NewCases[i] }}</th>
			{% else %}
				<th class="warning">{{ NewCases[i] }}</th>
			{% endif %}
			
			<th>{{ TotalDeath[i] }}</th>
			
			{% if NewDeath[i] == ' ' %}
				<th>{{ NewDeath[i] }}</th>
			{% else %}
				<th class="danger">{{ NewDeath[i] }}</th>
			{% endif %}
			
			{% if TotalRecovered[i] == ' '%}
				<th>{{ TotalRecovered[i] }}</th>
			{% else %}
				<th class="success">{{ TotalRecovered[i] }}</th>
			{% endif %}
			
			
            <th>{{ ActiveCases[i] }}</th>
            <th>{{ Serious_Critical[i] }}</th>
            <th>{{ TotlaCase_in_1Mpop[i] }}</th>
		</tr>
		{% endfor %}

    </table>

</body>
</html>